body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#f8f9fc;
    color:#333;
}

/* HEADER */
header{
    background:#0d1b2a;
    color:white;
    padding:20px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:#00b4d8;
}

/* HERO */
.hero{
    background:linear-gradient(135deg,#0077b6,#00b4d8);
    color:white;
    padding:90px 20px;
    text-align:center;
}

.hero h1{
    font-size:36px;
    margin-bottom:10px;
}

/* CONTAINER */
.container{
    padding:50px 20px;
    max-width:1100px;
    margin:auto;
    text-align:center;
}

/* BUTTON */
.btn{
    display:inline-block;
    padding:12px 22px;
    background:#0d1b2a;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
    text-decoration:none;
    font-size:14px;
    transition:0.3s ease;
}

.btn:hover{
    background:#0077b6;
    transform:scale(1.05);
}

/* PRODUCTS GRID */
.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:40px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 6px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}

input{
    padding:12px;
    width:280px;
    max-width:90%;
    border:1px solid #ccc;
    border-radius:8px;
    margin-bottom:15px;
}

/* WHATSAPP */
.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:18px;
    border-radius:50%;
    text-decoration:none;
    font-size:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}